<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: header"></head>
<nav th:replace="template :: navigation"></nav>
<body>

	<div class="container">
		<h2 th:text="#{registration.form}"></h2>
		<div th:replace="template :: messages" />
		<form class="form-horizontal" role="form" th:action="@{/registration}"
			enctype="multipart/form-data" th:object="${userImage}" method="post">
			<div class="form-group">
				<label for="firstName" class="col-sm-3 control-label"
					th:text="#{registration.first.name}">First Name</label>
				<div class="col-sm-4">
					<input type="text" id="firstName" placeholder=""
						class="form-control" autofocus="true" th:field="*{user.firstname}"
						required="true" />
				</div>
			</div>
			<div class="form-group">
				<label for="lastName" class="col-sm-3 control-label"
					th:text="#{registration.last.name}">Last Name</label>
				<div class="col-sm-4">
					<input type="text" id="lastName" placeholder=""
						class="form-control" required="true" autofocus="true"
						th:field="*{user.lastname}" />
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="col-sm-3 control-label"
					th:text="#{registration.email}">Email</label>
				<div class="col-sm-4">
					<input type="email" id="email" placeholder="" class="form-control"
						th:field="*{user.email}" required="true" />
				</div>
			</div>

			<div class="form-group">
				<label for="login" class="col-sm-3 control-label"
					th:text="#{registration.login}"></label>
				<div class="col-sm-4">
					<input type="text" id="login" placeholder="" class="form-control"
						required="true" autofocus="true" th:field="*{user.login}" />
				</div>
			</div>
			<div class="form-group">
				<label for="password" class="col-sm-3 control-label"
					th:text="#{registration.password}"></label>
				<div class="col-sm-4">
					<input type="password" id="password" placeholder=""
						class="form-control" th:field="*{user.password}" required="true" />
				</div>
			</div>
			<div class="form-group">
				<label for="passwordConfirm" class="col-sm-3 control-label"
					th:text="#{registration.passwordConfirm}"></label>
				<div class="col-sm-4">
					<input type="password" id="passwordConfirm" placeholder=""
						class="form-control" th:field="*{user.passwordConfirm}"
						required="true" />
				</div>
			</div>

			<div class="form-group">
				<label for="login" class="col-sm-3 control-label"
					th:text="#{registration.comment}"></label>
				<div class="col-sm-4">
					<input type="text" id="comment" placeholder="" class="form-control"
						required="true" autofocus="true" th:field="*{user.comment}" />
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="col-sm-3 control-label"
					th:text="#{registration.city}"></label>
				<div class="col-sm-4">
					<input type="text" id="city" placeholder="" class="form-control"
						required="true" autofocus="true" th:field="*{user.city}" />
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="col-sm-3 control-label"
					th:text="#{registration.phonNumber}"></label>
				<div class="col-sm-4">
					<input type="text" id="phonNumber" placeholder=""
						class="form-control" required="true" autofocus="true"
						th:field="*{user.phonNumber}" />
				</div>
			</div>
			<div class="form-group">
				<label for="city" class="col-sm-3 control-label"
					th:text="#{registration.dateOfBirth}"></label>
				<div class="row">
					<div class='col-sm-6'>
						<input type="date" name="bday" id="dateOfBirth"
							th:field="*{user.dateOfBirth}" />
					</div>
				</div>
				</div>

				<div class="form-group">
					<label for="city" class="col-sm-3 control-label"
						th:text="#{registration.image}"></label>
					<div class="col-sm-4">
						<input type="file" id="file" placeholder="" class="form-control"
							th:field="*{file}" />
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-3 col-sm-offset-3">
						<button type="submit" class="btn btn-primary btn-block"
							th:text="#{registration.register}">Register</button>
					</div>
				</div>
		</form>
		<!-- /form -->
	</div>
	<!-- ./container -->
	<div th:replace="template :: footer"></div>
</body>


</html>